@{
  Layout = "_Layout";
}

@model Treats.Models.Flavor

<h1>Edit Flavor Info:</h1>

<h2>Edit Info for @Html.DisplayFor(model => model.FlavorName)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.FlavorName)
  @Html.EditorFor(model => model.FlavorName)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Flavor Details", "Details", new { id = Model.FlavorId })</p>